<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Mercado Liebre</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
            <link rel="preconnect", href="https://fonts.googleapis.com">
            <link rel="preconnect", href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet", href="/css/normalize.css">
            <link rel="stylesheet", href="/css/style.css">
            <link rel="icon" type="image/png" href="images/iconoLogo2.png"/>
        </head>
        <body style="background-color: #fff159" class="main">
                <section class="top1">
                    <a class="logo"><img src="../images/logo-mercado-liebre.svg" alt="logo"></img></a>
                    <a class="logoSolo" title="logo2" href="http://localhost:3001"><img class="imagenLogo2" src="../images/iconoLogo2.png" alt="logo" width="65" height= "50"></img></a>
                    <input class="inputs" type="text" placeholder=" Productos, marcas y más">
                    <a class="lupa-box"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a class="mano-box"><i class="fa-solid fa-hand-holding-dollar"></i>
                    <p class="cuotas">Compra en cuotas y sin tarjeta de crédito</p></a>
                    <a class="bars-box"><i class="fas fa-bars"></i></a>
                </section>
            <div class="linea"></div>
            <section class="top2">
                <nav class="index-box">
                    <ul style="list-style: none;" class="index-left">
                        <li class="listado"><a class="point" href="#">Ofertas</a></li>
                        <li class="listado"><a class="point" href="#">Tiendas Oficiales</a></li>
                        <li class="listado"><a class="point" href="#">Vender</a></li>
                        <li class="listado"><a class="point" href="#">Ayuda</a></li>
                    </ul>
                    <ul style="list-style: none;" class="index-right">
                        <li class="listado"><a href="http://localhost:3001/creacionDeCuenta">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                        <li class="listado"><a href="http://localhost:3001/ingresaATuCuenta">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li class="listado"><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </nav>
            </section>
            <section class="articulos">
                <img class="banner" src="../images/img-home-banner2.jpg">
                <!--ULTIMAS VISITAS-->
            <h2 class="titulos">Basado en tu última visita</h2>
                <section class="containerA">
                    <div class="article">
                    <div class="image-article"><img src="../images/img-cafetera-moulinex.jpg" alt="cafetera_moulinex" width="400" height="400"></img><br></div>
                        <div class="line">
                            <div class="detail">
                                <p class="productCost">$6.700</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">40% OFF</p>
                                <p class="productName">Cafetera Moulinex</p>
                            </div>
                        </div>
                    </div>
                    <div class="article">
                    <div class="image-article"><img src="../images/img-macbook-pro-2019.jpg" alt="Macbook" width="400" height="400"></img><br></div>
                        <div class="line">    
                            <div class="detail">
                                <p class="productCost">$230.000</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">20% OFF</p>
                                <p class="productName">MacBook Pro 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="article">
                    <div class="image-article"><img src="../images/img-samsung-galaxy-s10.jpg" alt="Samsung_galaxy_S10" width="400" height="400"></img><br></div>
                        <div class="line">    
                            <div class="detail">
                                <p class="productCost">$70.500</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">10% OFF</p>
                                <p class="productName">Samsung Galaxy S10</p>
                            </div>
                        </div>
                    </div>
                    <div class="article">
                    <div class="image-article"><img src="../images/img-tv-samsung-smart.jpg" alt="Smart_TV" width="400" height="400"></img><br></div>
                        <div class="line">    
                            <div class="detail">
                                <p class="productCost">$23.200</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">5% OFF</p>
                                <p class="productName">SmartTv Samsung 43"</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--OFERTAS-->
                <h2 class="titulos">Seccion de Ofertas</h2>
                <section class="containerB">
                    <div class="article">
                    <div class="image-article"><img src="../images/img-cafetera-moulinex.jpg" alt="cafetera_moulinex" width="400" height="400"></img><br></div>
                        <div class="line">
                            <div class="detail">
                                <p class="productCost">$6.700</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">40% OFF</p>
                                <p class="productName">Cafetera Moulinex</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                    <div class="image-article"><img src="../images/img-macbook-pro-2019.jpg" alt="Macbook" width="400" height="400"></img><br></div>
                        <div class="line">
                            <div class="detail">
                                <p class="productCost">$230.000</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">20% OFF</p>
                                <p class="productName">MacBook Pro 2019</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                    <div class="image-article"><img src="../images/img-samsung-galaxy-s10.jpg" alt="Samsung_galaxy_S10" width="400" height="400"></img><br></div>
                        <div class="line">
                            <div class="detail">
                                <p class="productCost">$70.500</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">10% OFF</p>
                                <p class="productName">Samsung Galaxy S10</p>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="article">
                    <div class="image-article"><img src="../images/img-tv-samsung-smart.jpg" alt="Smart_TV" width="400" height="400"></img><br></div>
                        <div class="line">
                            <div class="detail">
                                <p class="productCost">$23.200</p>
                                <i class="fa-solid fa-truck"></i>
                                <p class="productPorcent">5% OFF</p>
                                <p class="productName">SmartTv Samsung 43"</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </body>    
        <footer class="footer-box">
            <section class="enunciado-box">
                <div class="credit-box"><i class="fa-solid fa-credit-card"></i></div>
                <strong class="subtitulosFooter">Paga con tarjeta o en efectivo</strong>
                <p5>Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p5>
            </section>
            <section class="enunciado-box">
                <div class="gift-box"><i class="fa-solid fa-gift"></i></div>
                <strong class="subtitulosFooter">Envío gratis desde $2.500</strong>
                <p5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p5>
            </section>
            <section class="enunciado-box">
                <div class="shield-box"><i class="fa-solid fa-user-shield"></i></div>
                <strong class="subtitulosFooter">Seguridad, de principio a fin</strong>
                <p5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p5>
            </section>
        </footer>
    </html>

    