<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Mercado Libre Argentina - Envíos Gratis en el Día</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
            <link rel="preconnect", href="https://fonts.googleapis.com">
            <link rel="preconnect", href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet", href="/css/normalize.css">
            <link rel="stylesheet", href="/css/style.css">
            <link rel="icon" type="image/png" href="images/iconoLogo2.png"/>
        </head>
        <header class="header">
            <nav class="top">
                <div class="logo-box">
                    <img class="logo" src="/images/iconoLogo2.png" alt="logo">
                </div>
                <div class="buscardor-box">
                    <a class=lupa-box href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <input class="buscador" type="text" placeholder="" alt="buscador">
                </div>
                <div class="menu-box">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                </div>
                <div class="carro-box">
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </nav>
            <section class="subtop">
                <div class="pin-box">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="envio-box">
                    <p>Enviar a Capital Federal</p>
                </div>
                <div class="flecha-box">
                    <a href="#"><i class="fa-solid fa-angle-right"></i></a>
                </div>
            </section>
        </header>
        <body class="body">
            <section class="carrusel-box"></section>
            <section class="cuotas-box"></section>
            <section class="ofertas-box"></section>
            <section class="creaCuenta-box"></section>
            <section class="subscripcion-box"></section>
            <section class="beneficios-box"></section>
            <section class="marcaOferta-box"></section>
            <section class="productoOferta1-box"></section>
            <section class="productoOferta2-box"></section>
            <section class="tiendasOficiales-box"></section>
            <section class="productoOferta3-box"></section>
            <section class="productoOferta4-box"></section>
            <section class="categoriasPopulares-box"></section>
            <section class="opcionesDePago-box"></section>
        </body>    
        <footer class="footer-box">
            <section class="footerTop-box"></section>
            <section class="footerLinks-box"></section>
            <section class="footerInfo-box"></section>
        </footer>
    </html>

    