 <!--FORMULARIOS-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <title>Mercado Liebre - crea tu cuenta</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
            <link rel="preconnect", href="https://fonts.googleapis.com">
            <link rel="preconnect", href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet", href="/css/normalize.css">
            <link rel="stylesheet", href="/css/register.css">
            <link rel="icon" type="image/png" href="images/iconoLogo2.png"/>
</head>
<body class="main">
    <div class="top">
        <a class="iconoYNombre" title="logo1" href="http://localhost:3001"><img class="imagenLogo1" src="../images/logo-mercado-liebre.png" alt="logo" width="150" height= "40"></img></a>
        <a class="iconoSolo" title="logo2" href="http://localhost:3001"><img class="imagenLogo2" src="../images/iconoLogo2.png" alt="logo" width="65" height= "50"></img></a>
    </div>
    <section class="box-formulario">
        <form class="formulario" action="" method="POST">
            <h2 class="titulo">¡Bienvenido! Ingresa tus datos</h2>
            <div class="div-nombreApellido">
                <label class="subtitulos" for="nombreYApellido"></label>
                <input class="inputs" type="text" name="nombreYApellido" placeholder=" Nombre y apellido"required>
                <span class="feedback"></span>
            </div>
            <div class="div-usuario">
                <label class="subtitulos" for="nombreUsuario"></label>
                <input class="inputs"type="text" name="nombreUsuario" placeholder=" Nombre de usuari@" required>
                <span class="feedback"></span>
            </div>
            <div class="div-fechaNacimiento">
                <label class="subtitulos" for="fechaNacimiento">Fecha de nacimiento</label>
                <input class="inputs" type="date" name="fechaNacimiento" required>
            </div>
            <div class="div-domicilio">
                <label class="subtitulos" for="domicilio"></label>
                <input class="inputs" type="text" name="domicilio" placeholder=" Domicilio" required>
            </div>
            <div class="div-perfilUsuario">
                <label class="subtitulos" for="perfilUsuario">Perfil de usuario:
                <input type="checkbox" name="perfilUsuario" value="perfil" checked>
                    Comprador
                </label>
                <label class="subtitulos" for="perfilUsuario">
                <input type="checkbox" name="perfilUsuario" value="perfil" required>
                    Vendedor
                </label>
            </div>
            <div class="div-intereses">
                <label class="subtitulos" for="intereses">Categorias de interés:</label>
                <select class="inputs" name="intereses">
                    <option value="intereses">Electro</option>
                    <option value="intereses">Moda</option>
                    <option value="intereses">Hogar</option>
                    <option value="intereses">Jugueteria</option>
                    <option value="intereses">Vida sana</option>
                </select>
            </div>
            <div class="div-fotoUsuario">
                <label class="subtitulos" for="fotoPerfil">Foto de usuario:</label>
                <input type="file" name="fotoUsuario" accept=".jpg,.png">
                <span class="feedback"></span>
            </div>
            <div class="div-contraseña">
                <label class="subtitulos" for="contraseña"></label>
                <input class="inputs" type="text" name="contraseña" min="10" placeholder=" Contraseña" required>
                <span class="feedback"></span>
            </div>
            <div class="div-confirmacionContraseña">
                <label class="subtitulos" for="confimacionContraseña"></label>
                <input  class="inputs" type="text" name="confimacionContraseña" min="10" placeholder="Confirmar contraseña" required>
                <span class="feedback"></span>
            </div>
            <a class="botones">
            <button type="submit" href="http://localhost:3001">Enviar</button>
            <button type="reset">Borrar</button>
            </a>
        </form>
    </section>
</body>    
<footer class="footer-box">
    <section class="enunciado-box">
        <div class="credit-box"><i class="fa-solid fa-credit-card"></i></div>
        <strong class="subtitulosFooter">Paga con tarjeta o en efectivo</strong>
        <p5>Con Mercado Liebre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p5>
    </section>
    <section class="enunciado-box">
        <div class="gift-box"><i class="fa-solid fa-gift"></i></div>
        <strong class="subtitulosFooter">Envío gratis desde $2.500</strong>
        <p5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p5>
    </section>
    <section class="enunciado-box">
        <div class="shield-box"><i class="fa-solid fa-user-shield"></i></div>
        <strong class="subtitulosFooter">Seguridad, de principio a fin</strong>
        <p5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p5>
    </section>
</footer>
</html>