/*FORMULARIO DE REGISTRO*/

/*BREAKPOINT SMARTPHONE*/
@media(max-width: 480px){
    *{box-sizing: border-box;}
/*PADRES*/
.main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.top{
    width: 100%;
    height: 60px;
    background-color: #fff159;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.iconoSolo{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    width: 99%;
    margin-top: 4px; 
}
.iconoYNombre{
    visibility: hidden;
    width: 1px;
    height: 1px;
}


/*BODY*/
.body{
    justify-content: space-between;
    align-items: center;
}
.box-formulario{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    width: 80vw;
    justify-content: center;
    margin: 30px 0px 40px 10%;
    height: 140vh;
}
.formulario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
}
.titulo{
    margin: 20px 55px 10px 55px;
}
.inputs{
    margin-left:10px;
    height: 50px;
    border-radius: 5px;
    border-color: white;
    box-shadow: 0px 0px 5px rgb(100 100 100);
}
.inputs:hover{
    border-color: rgba(29, 61, 242, 0.834);
}
.subtitulos{
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 5px;    
}
.div-nombreApellido{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-usuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-fechaNacimiento{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-domicilio{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-perfilUsuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-intereses{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-fotoPerfil{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-contraseña{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div-confirmacionContraseña{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.botones{
    margin-top: 10px;
    margin-left: 20px;
    width: 85%;
    height: 18%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 0.5em;
    background-color:rgba(29, 61, 242, 0.834);
    border: hidden;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
button:hover{
    background-color: #0022AA;
    cursor: pointer;
}

/*FOOTER*/
.footer-box{
    box-shadow: 0px 0px 10px gray;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
i.fa-solid.fa-credit-card{
    color: blue;
    font-size: 40px;
    margin: 15px 0px 0px 16.5vh;
    width: 100%;
}
i.fa-solid.fa-gift{
    color: blue;
    font-size: 40px;
    margin: 15px 0px 0px 16.5vh;
    width: 100%;
}
i.fa-solid.fa-user-shield{
    color: blue;
    font-size: 40px;
    margin: 15px 0px 0px 16.5vh;
    width: 100%;
}
.enunciado-box{
    display: flex;
    flex-wrap: wrap

}
.subtitulosFooter{
    margin: 10px 0px 0px 0px;
    width: 100%;

}
p5{
    font-size: 12px;
    text-align: center;
    margin: 5px 40px 10px 40px;
    line-height: 20px;
}
    
    
}

/*BREAKPOINT TABLETS*/
@media(min-width: 481px)and(orentation=landscape){
    *{box-sizing: border-box;}
/*PADRES*/
.main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.top{
    width: 100%;
    height: 60px;
    background-color: #fff159;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    justify-content: center;
    text-align: center;
}
.iconoSolo{
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.iconoYNombre{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    width: 99%;
    margin-top: 10px;
}


/*BODY*/
.body{
    justify-content: space-between;
    align-items: center;
}
.box-formulario{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    width: 80vw;
    justify-content: center;
    margin: 30px 0px 40px 10%;
    height: 110vh;
}
.formulario{
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    justify-content: space-around;
}
.inputs{
    margin-left:10px;
    height: 50px;
    border-radius: 5px;
    width: 90%;
    border-color: white;
    box-shadow: 0px 0px 5px rgb(100 100 100);
}
.inputs:hover{
    border-color: rgba(29, 61, 242, 0.834);
}
.titulo{
    margin: 30px 55px 10px 55px;
}
.subtitulos{
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 5px;    
}
.div-nombreApellido{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-usuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-fechaNacimiento{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-domicilio{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-perfilUsuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 3%;
}
.div-intereses{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin-right: 35%;
    height: 60px;
}
.div-fotoUsuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
}
.div-contraseña{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-confirmacionContraseña{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.botones{
    margin-top: 10px;
    width: 90%;
    height: 18%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 0.5em;
    background-color:rgba(29, 61, 242, 0.834);
    border: hidden;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}
button:hover{
    background-color: #0022AA;
    cursor: pointer;
}


/*FOOTER*/
.footer-box{
    box-shadow: 0px 0px 10px gray;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 66vh;
    justify-content: center;
    text-align: center;
}
.credit-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
}
i.fa-solid.fa-credit-card{
    align-items: center;
    color: black;
    font-size: 40px;
    margin: 0%;
    width: 100%;
}
i.fa-solid.fa-credit-card:hover{
    color: blue;
    font-size: 43px;
    margin: 0%;
    width: 100%;
    transition: all 300ms;
}
.gift-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
i.fa-solid.fa-gift{
    color: black;
    font-size: 40px;
    margin: 0%;
    width: 100%;
}
i.fa-solid.fa-gift:hover{
    color: blue;
    font-size: 43px;
    width: 100%;
    transition: all 300ms;
}
.shield-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
i.fa-solid.fa-user-shield{
    color: black;
    font-size: 40px;
    width: 100%;
}
i.fa-solid.fa-user-shield:hover{
    color: blue;
    font-size: 43px;
    width: 100%;
    transition: all 300ms;
}
.enunciado-box{
    display: flex;
    flex-wrap: wrap
}
.subtitulosFooter{
    height: fit-content;
    margin: 10px 0px 0px 0px;
    width: 100%;
}
p5{
    font-size: 12px;
    height: fit-content;
    text-align: center;
    margin: 5px 40px 10px 40px;
    line-height: 20px;
}

}

/*BREAKPOINT DESKTOP*/
@media(min-width: 769px){
    *{box-sizing: border-box;}
/*PADRES*/
.main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.top{
    width: 100%;
    height: 60px;
    background-color: #fff159;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    justify-content: center;
    text-align: center;
}
.iconoSolo{
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.iconoYNombre{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    width: 99%;
    margin-top: 10px;
}


/*BODY*/
.body{
    justify-content: space-between;
    align-items: center;
}
.box-formulario{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    width: 80vw;
    justify-content: center;
    margin: 30px 0px 40px 10%;
    height: 120vh;
}
.formulario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 115vh;
    text-align: center;
    font-weight: bold;
    justify-content: space-around;
}
.inputs{
    margin-left:10px;
    height: 50px;
    border-radius: 5px;
    width: 90%;
    border-color: white;
    box-shadow: 0px 0px 5px rgb(100 100 100);
}
.inputs:hover{
    border-color: rgba(29, 61, 242, 0.834);
}
.titulo{
    margin: 30px 55px 10px 55px;
    width: fit-content;
    width: 90%;
}
.subtitulos{
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 5px;    
}
.div-nombreApellido{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-usuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-fechaNacimiento{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    position: relative;
    bottom: 20px;
}
.div-domicilio{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-perfilUsuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 3%;
}
.div-intereses{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin-right: 35%;
    height: 60px;
}
.div-fotoUsuario{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
}
.div-contraseña{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.div-confirmacionContraseña{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
}
.botones{
    margin-top: 10px;
    width: 90%;
    height: 18%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 0.5em;
    background-color:rgba(29, 61, 242, 0.834);
    border: hidden;
    color: white;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}
button:hover{
    background-color: #0022AA;
    cursor: pointer;
}


/*FOOTER*/
.footer-box{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    justify-content: center;
    text-align: center;
}
.credit-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0%;
    width: 100%;
}
i.fa-solid.fa-credit-card{
    align-items: center;
    color: black;
    font-size: 40px;
    margin: 0%;
    width: 100%;
}
i.fa-solid.fa-credit-card:hover{
    color: blue;
    font-size: 43px;
    margin: 0%;
    width: 100%;
    transition: all 300ms;
}
.gift-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
i.fa-solid.fa-gift{
    color: black;
    font-size: 40px;
    margin: 0%;
    width: 100%;
}
i.fa-solid.fa-gift:hover{
    color: blue;
    font-size: 43px;
    width: 100%;
    transition: all 300ms;
}
.shield-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
i.fa-solid.fa-user-shield{
    color: black;
    font-size: 40px;
    width: 100%;
}
i.fa-solid.fa-user-shield:hover{
    color: blue;
    font-size: 43px;
    width: 100%;
    transition: all 300ms;
}
.enunciado-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 20vh;
    margin: 35px 0px 0px 0px;
    width: 32%;
}
.subtitulosFooter{
    height: fit-content;
    margin: 10px 0px 0px 0px;
    width: 100%;
}
p5{
    font-size: 12px;
    height: fit-content;
    height: 4vh;
    line-height: 20px;
    width: 20vw;
}


}